#cluster-share-h2 {
  margin-top: 60px;
  margin-bottom: 30px;
}

#cluster-share-h1 {
  margin-bottom: 60px;
}

.cluster-action-loading {
  position: "absolute";
  left: 48%;
  color: "#06b5a3";
  top: 12px;
  z-index: 1500;
}
