.border-top-gray,
.border-top-grey {
  border-top: 1px solid lightgrey;
}

.border-bottom-gray,
.border-bottom-grey {
  border-bottom: 1px solid lightgrey;
}

.border-left-gray,
.border-left-grey {
  border-left: 1px solid lightgrey;
}

.border-right-gray,
.border-right-grey {
  border-right: 1px solid lightgrey;
}
