/*Theme Dark Amber Styles*/
$app-primary-dark-amber: #ffc107 !default;
$secondary-dark-amber: #FF3D00;

$sidebar-dark-amber: #252525 !default;
$sidebar-text-dark-amber: #a1a1a1 !default;
$sidebar-darken-amber: darken($sidebar-dark-amber, 3%);

// Links
$link-hover-dark-amber: $white;

//-Base-scss
.dark-amber .right-arrow {
  color: $app-primary-dark-amber;
  &:after {
    color: $app-primary-dark-amber;
  }
}

//- Bootstrap file Style
.dark-amber {
  & a,
  & a.text-primary {
    color: $app-primary-dark-amber;
    &:focus,
    &:hover {
      color: darken($app-primary-dark-amber, 10%);
    }
  }

  & .text-primary {
    color: $app-primary-dark-amber !important;
  }

  & .page-link {
    color: $app-primary-dark-amber;
    &:focus,
    &:hover {
      color: $app-primary-dark-amber;
    }
  }

  & .bg-primary,
  & .badge-primary {
    background-color: $app-primary-dark-amber !important;
    color: $link-hover-dark-amber !important;
  }

  & .btn-primary {
    background-color: $app-primary-dark-amber;
    border-color: $app-primary-dark-amber;
    color: $link-hover-dark-amber;

    &:hover,
    &:focus {
      background-color: darken($app-primary-dark-amber, 5%);
      border-color: darken($app-primary-dark-amber, 5%);
      color: $link-hover-dark-amber;
    }
  }

  & .bg-primary {
    &.lighten-4 {
      background-color: #ffecb3 !important;
    }

    &.lighten-3 {
      background-color: #ffe082 !important;
    }

    &.lighten-2 {
      background-color: #ffd54f !important;
    }

    &.lighten-1 {
      background-color: #ffca28 !important;
    }

    &.darken-1 {
      background-color: #ffb300 !important;
    }

    &.darken-2 {
      background-color: #ffa000 !important;
    }

    &.darken-3 {
      background-color: #ff8f00 !important;
    }

    &.darken-4 {
      background-color: #ff6f00 !important;
    }

    &.accent-1 {
      background-color: #ffe57f !important;
    }

    &.accent-2 {
      background-color: #ffd740 !important;
    }

    &.accent-3 {
      background-color: #ffc400 !important;
    }

    &.accent-4 {
      background-color: #ffab00 !important;
    }
  }
}

//Secondary
.dark-amber {
  & a.text-secondary {
    color: $secondary-dark-amber;
    &:focus,
    &:hover {
      color: darken($secondary-dark-amber, 10%) !important;
    }
  }

  & .text-secondary {
    color: $secondary-dark-amber !important;
  }

  & .bg-secondary,
  & .badge-secondary {
    background-color: $secondary-dark-amber !important;
    color: $link-hover-dark-amber !important;
  }

  & .btn-secondary {
    background-color: $secondary-dark-amber;
    border-color: $secondary-dark-amber;
    color: $link-hover-dark-amber;

    &:hover,
    &:focus {
      background-color: darken($secondary-dark-amber, 5%);
      border-color: darken($secondary-dark-amber, 5%);
      color: $link-hover-dark-amber;
    }
  }
}

//_header.scss
.dark-amber .app-main-header {
  background-color: $app-primary-dark-amber !important;

  & .search-bar input {
    background-color: lighten($app-primary-dark-amber, 5%);

    &:focus {
      background-color: $white;
    }
  }

  & .search-dropdown input {
    @media screen and (max-width: 575px) {
      background-color: $white;
    }
  }
}

//_right-sidebar.scss
.dark-amber .color-theme-header {
  background-color: $app-primary-dark-amber;

}

//_sidebar.scss
.dark-amber .side-nav {
  background-color: $sidebar-dark-amber !important;
  color: $sidebar-text-dark-amber !important;
  @include box-shadow(none);

  & .user-profile {
    background-color: $sidebar-darken-amber;
    @include box-shadow(none);
    position: relative;
    z-index: 2;
  }

  & .customizer {
    border-bottom: 0 none;
  }

  & .user-detail {
    & .user-name {
      color: $link-hover-dark-amber;
    }
  }
}

.dark-amber ul.nav-menu li a {
  color: $sidebar-text-dark-amber;
}

.dark-amber ul.nav-menu {
  & .nav-header {
    color: $sidebar-text-dark-amber;
  }
}

.dark-amber ul.nav-menu > li.open > a,
.dark-amber ul.nav-menu > li > a:hover,
.dark-amber ul.nav-menu > li > a:focus {
  background-color: $sidebar-darken-amber;
  color: $link-hover-dark-amber;
}

.dark-amber ul.nav-menu li.menu.open > a {
  border-color: $app-primary-dark-amber;
}

.dark-amber ul.nav-menu li.menu > a:focus:before,
.dark-amber ul.nav-menu li.menu > a:hover:before {
  color: $link-hover-dark-amber;
}

.dark-amber ul.nav-menu li ul {
  background-color: $sidebar-darken-amber;
}

.dark-amber ul.nav-menu li.menu > a:before {
  color: $sidebar-text-dark-amber;
}

.dark-amber ul.nav-menu li.menu.open > a:before,
.dark-amber ul.nav-menu li.menu > a:focus:before,
.dark-amber ul.nav-menu li.menu li > a:hover:before {
  color: $link-hover-dark-amber;
}

.dark-amber ul.nav-menu li.menu .sub-menu li > a:before {
  color: $sidebar-text-dark-amber;
}

.dark-amber ul.nav-menu li.menu.open .sub-menu li.active > a {
  background-color: $sidebar-darken-amber;
  color: $link-hover-dark-amber;
}

.dark-amber ul.nav-menu li.menu .sub-menu li > a:hover,
.dark-amber ul.nav-menu li.menu .sub-menu li > a:focus,
.dark-amber ul.nav-menu li.menu.open .sub-menu li.active > a:before,
.dark-amber ul.nav-menu li.menu .sub-menu li > a:focus:before,
.dark-amber ul.nav-menu li.menu .sub-menu li > a:hover:before {
  background-color: $sidebar-darken-amber;
  color: $link-hover-dark-amber;
}

//_app-module.scss
.dark-amber .app-module {
  &:before {
    background-color: lighten($app-primary-dark-amber, 5%);
  }
}

.dark-amber .module-nav {
  & li a {
    &.active {
      background-color: $app-primary-dark-amber;
    }
  }
}

.dark-amber .module-side-header {
  background-color: lighten($app-primary-dark-amber, 5%);
}

//_calendar.scss
.dark-amber .rbc-event {
  background-color: $app-primary-dark-amber;
}

.dark-amber .rbc-event.rbc-selected {
  background-color: darken($app-primary-dark-amber, 10%);
}

.dark-amber .rbc-slot-selection {
  background-color: rgba($app-primary-dark-amber, 0.7);
}

.dark-amber .rbc-toolbar button:active,
.dark-amber .rbc-toolbar button.rbc-active {
  background-color: rgba($app-primary-dark-amber, 0.9);
  border-color: $app-primary-dark-amber;
}

.dark-amber .rbc-toolbar button:active:hover,
.dark-amber .rbc-toolbar button.rbc-active:hover,
.dark-amber .rbc-toolbar button:active:focus,
.dark-amber .rbc-toolbar button.rbc-active:focus {
  background-color: rgba($app-primary-dark-amber, 0.9);
  border-color: $app-primary-dark-amber;
}

.dark-amber .rbc-toolbar button:focus {
  background-color: rgba($app-primary-dark-amber, 0.9);
  border-color: $app-primary-dark-amber;
}

.dark-amber .rbc-toolbar button:hover {
  background-color: rgba($app-primary-dark-amber, 0.9);
  border-color: $app-primary-dark-amber;
}

//_chat.scss
.dark-amber .chat-sidenav-title {
  color: $app-primary-dark-amber;
}

.dark-amber .chat-user-item {
  &.active,
  &:hover {
    background-color: lighten($app-primary-dark-amber, 45%);
  }
}

//_dashboard.scss
.dark-amber .contact-list {
  & i {
    color: $app-primary-dark-amber;
  }
}

//The link which when clicked opens the collapsable ChatUserList
.dark-amber .Collapsible__trigger {;
  background: $app-primary-dark-amber;
}

.dark-amber .categories-list {
  & li a:focus,
  & li a:hover,
  & li.active a {
    color: $app-primary-dark-amber;
  }
}

//_login.scss

.dark-amber .login-content .form-control {
  &:focus {
    border-color: $app-primary-dark-amber;
  }
}

//_portfolio.scss
.dark-amber .filter-with-bg-color ul li {
  & a {
    border-color: $app-primary-dark-amber;

    &:hover,
    &:focus,
    &.active {
      background-color: $app-primary-dark-amber;
    }
  }
}

//_card.scss
.dark-amber .profile-intro {
  & .icon {
    color: $app-primary-dark-amber;
  }
}

.dark-amber .social-link {
  & li.active a,
  & li a:hover,
  & li a:focus {
    color: $secondary-dark-amber;
  }
}

//_tables.scss
.dark-amber .actions {
  color: $secondary-dark-amber;
}

.dark-amber .table-hover tbody tr:hover {
  background-color: rgba($app-primary-dark-amber, 0.075);
}

//Border Color

.dark-amber .border-primary {
  border-color: $app-primary-dark-amber !important;
}