/*User listing Styles*/

.user-list-container {
  padding: 2rem;
  margin: 0 auto;
  width: 100%;

  .section-title {
    color: #000000;
    font-size: 0.8rem;
    font-weight: 700;
    background-color: #f4f4f4;
  }

  .section-main-item {
    color: #424242;
    font-size: 0.8rem;
    font-weight: 700;
    overflow-wrap: break-word;
    max-width: 8rem;
  }

  .section-item {
    color: #9e9e9e;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.75rem 0;
    overflow-wrap: break-word;
    max-width: 8rem;

    &.role {
      padding-left: 1rem;
    }
  }

  .section-no-item {
    color: #000000;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    font-style: italic;
  }

  .no-result-list {
    margin: 0 3rem;
  }
}
