<!doctype html>
<html lang="en" xml:lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords"
          content="Responsive, HTML5, admin theme, business, professional, React, web design, CSS3, sass">
    <title id="app-title"></title>
    <link rel="stylesheet" href="vendors/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="vendors/animate.css">
    <link rel="stylesheet" href="vendors/loader.css">
    <style>


.map-legend { list-style: none;
}
.map-legend li { float: left; margin-right: 10px; }
.map-legend span {
    border: 1px solid #ccc;
    float: left;
    width: 12px;
    height: 12px;
    margin: 4px;

}
.map-legend .undeployed { background-color: #F2F2F2; }
.map-legend .inprogress { background-color: #FDB209; }
.map-legend .deployed { background-color: green; }
.map-legend .failed { background-color: red; }

   .legendDiv {
     width: 150px;
    height: 350px;
    position: relative;
    top: 30px;
    left: 10px;
   }
  </style>

</head>

<body id="body">
<div id="app-site">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
</body>
</html>

