{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": ["airbnb", "prettier"],
  "rules": {
    "react/jsx-no-target-blank": 0,
    "func-names": 0,
    "max-len": 0,
    "no-unused-vars": 0,
    "no-script-url": 0,
    "react/no-unescaped-entities": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "no-console": 0,
    "no-undef": 1,
    "react/no-array-index-key": 0,
    "import/prefer-default-export": 0,
    "global-require": 0,
    "react/prop-types": 0,
    "comma-dangle": ["off"],
    "import/extensions": 0,
    "jsx-a11y/label-has-for": 0,
    "guard-for-in": ["warn"],
    "no-restricted-syntax": ["warn"],
    "object-curly-spacing": ["off"],
    "padded-blocks": ["off"],
    "react/jsx-closing-bracket-location": ["off"],
    "react/jsx-indent": ["off"],
    "linebreak-style": ["off"],
    "react/jsx-indent-props": ["off"],
    "jsx-a11y/href-no-hash": ["off"],
    "import/first": ["warn"],
    "react/sort-comp": ["warn"],
    "no-param-reassign": 0, // ["warn"], REMOVE
    "jsx-a11y/anchor-has-content": ["warn"],
    "camelcase": ["off"],
    "import/no-duplicates": ["warn"],
    "react/forbid-prop-types": ["warn"],
    "jsx-a11y/img-redundant-alt": ["warn"],
    "default-case": ["warn"],
    "jsx-a11y/no-noninteractive-element-interactions": 0, // ["warn"],
    "no-useless-constructor": ["warn"],
    "no-return-assign": ["warn"],
    "no-nested-ternary": 0, // ["warn"],
    "jsx-a11y/alt-text": ["warn"],
    "react/no-did-update-set-state": ["warn"],
    "eqeqeq": ["warn"],
    "consistent-return": ["warn"],
    "array-callback-return": ["warn"],
    "import/no-named-as-default": ["warn"],
    "jsx-a11y/no-static-element-interactions": 0, // ["warn"],
    "radix": ["warn"],
    "one-var": ["warn"],
    "react/require-default-props": 0,
    "no-use-before-define": ["warn"],
    "no-sequences": ["warn"],
    "no-unreachable": ["warn"],
    "no-unused-expressions": ["warn"],
    "react/no-unused-prop-types": ["warn"],
    "no-useless-escape": 0, // ["warn"],
    "react/no-find-dom-node": ["warn"],
    "react/no-did-mount-set-state": ["warn"],
    "arrow-body-style": ["off"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-space-before-closing": ["off"],
    "react/prefer-stateless-function": ["off"],
    "no-underscore-dangle": 0,
    // "no-underscore-dangle": [
    //   "warn",
    //   {
    //     "allowAfterThis": true
    //   }
    // ],
    "react/jsx-no-bind": 0,
    "react/no-multi-comp": 0,
    "no-plusplus": 0,
    "no-shadow": 0,
    "class-methods-use-this": ["warn"],
    "import/no-dynamic-require": 0,
    "react/no-string-refs": "off",
    "lines-between-class-members": "off",
    "react/destructuring-assignment": 0, // "warn", REMOVE
    "jsx-a11y/control-has-associated-label": "warn",
    "jsx-a11y/anchor-is-valid": 0, // "warn",
    "react/jsx-props-no-spreading": 0,
    "jsx-a11y/click-events-have-key-events": 0, // "warn",
    "jsx-a11y/label-has-associated-control": 0, // "warn",
    "react/button-has-type": "warn",
    "react/no-unused-state": 0,
    "max-classes-per-file": 0,
    "prefer-destructuring": 0, // "warn",
    "operator-assignment": "warn",
    "react/jsx-closing-tag-location": "warn",
    "react/jsx-curly-brace-presence": "warn",
    "react/jsx-tag-spacing": "warn",
    "react/jsx-props-no-multi-spaces": "warn",
    "react/no-access-state-in-setstate": 0, // "warn", REMOVE
    "react/jsx-curly-newline": 0,
    "react/jsx-wrap-multilines": 0,
    "no-restricted-globals": "warn",
    "no-else-return": "warn",
    "import/order": "warn",
    "react/jsx-fragments": 0,
    "no-bitwise": 0,
    "react/static-property-placement": 0,
    "react/jsx-pascal-case": "warn",
    "react/jsx-boolean-value": "warn"
  }
}
